<h3>Find Company Information</h3>
<br>
<br>
<div class="form-group"><b>Search text:</b>    
    <input type="text" style="width:10em;" placeholder="Required" class="form-control"
           ng-model="feedback.search">
</div>
<br>
<br>
<label for="options">Options </label>
<select name="option" class="form-control" ng-model="feedback.option" >
    <!--<option value="Regular">Regular</option>-->   
    <option value="vat">CVR</option>    
    <option value="name">Name</option>     
    <option value="produ">Production Unit</option>
    <option value="phone">Phone Number</option>
</select>
<br>
<br>
<label for="country">Country </label>
<select name="country" class="form-control" ng-model="feedback.country" >
    <option value="dk">DK</option>     
    <option value="no">NO</option>
</select>
<br>
<br>
<button type="submit" class="btn btn-success" ng-click="getCompany()">Find</button>
<br>
<br>
<table class="table">
   <td>{{companylist.name}}</td>
</table>
<br>
<br>
<div>
  <p>Data from server (Users ONLY) <b style="color: pink">{{data}}</b></p>
</div>